<div class="product-container">
  @for (product of productList; track product) {
    <div class="product-item">
      <h2>Product: {{product.name}}</h2>
      <p>Price: {{product.price}}</p>
      <p>Description: {{product.description}}</p>
      <p>Category: {{product.categoryId}}</p>
      <p>Stock: {{product.stock}}</p>

      <p>Description: {{product.description}}</p>
      @if (product.description) {
        <p>Description: {{product.description}}</p>
      } @else {
        <p>No description available.</p>
      }
      @if (areActionsAvailable) {
        <button (click)="callUpdateModalMethod.emit(product)" class="btn btn-success">Edit</button>
        <button (click)="callDeleteMethod.emit(product)" class="btn btn-danger">Delete</button>
      }
    </div>
  } @empty {
    <p>No products available.</p>
  } </div>