<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productService.products$()">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.categoryId }}</td>
        <td>
          <button 
            class="btn btn-sm btn-primary me-2" 
            (click)="onEdit(product)">
            Editar
          </button>
          <button 
            class="btn btn-sm btn-danger" 
            (click)="onDelete(product)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination 
  [service]="productService">
</app-pagination>
